html,
.ma-in {
  background-color: rgb(111, 187, 187);
}

.main {
  background-color: rgb(51, 57, 58);
  border-radius: 10px;
}

input.newTask, input.newTask:focus {
  background: transparent;
  color: silver;
}

.heading,
textarea.task,
Button.buttonStyle,
Button.addButton {
  color: rgb(118, 204, 200);
}

textarea.task {
  background-color: rgb(60, 70, 70);
  border-radius: 6px;
  border: 0;
  padding-left: 14px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

Button.buttonStyle,
Button.addButton,
Button.buttonStyle:hover {
  border: none;
  background: transparent;
}

Button.addButton:hover {
  background: rgb(60, 70, 70);
}

textarea::-webkit-scrollbar {
  width: 0.2em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(104, 108, 109);
  border-radius: 20%;
}

label.filterbtn {
  color: silver;
  border: 0;
  background: transparent;
}

label.filterbtn:hover {
  color: silver;
  border: 0;
  background: rgb(60, 70, 70);
}

input[type=radio]:checked + label.filterbtn {
  border: 0;
  background: rgb(71, 95, 95);
}

input[type=checkbox]:checked + textarea.strikethrough {
  text-decoration: line-through;
}

.filter {
  padding: 1rem 0;
}

.line {
  border-top: 1px solid rgb(118, 204, 200);
  margin: auto;
}